/* Fonts */

@font-face {
	font-family: 'Insolent';
	src: url('fonts/insolent-webfont.woff2') format('woff2'), 
  url('fonts/insolent-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-LightItalic.woff2') format('woff2'),
      url('fonts/ApercuPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-BoldItalic.woff2') format('woff2'),
      url('fonts/ApercuPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Bold.woff2') format('woff2'),
      url('fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Italic.woff2') format('woff2'),
      url('fonts/ApercuPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-MediumItalic.woff2') format('woff2'),
      url('fonts/ApercuPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Light.woff2') format('woff2'),
      url('fonts/ApercuPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Medium.woff2') format('woff2'),
      url('fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro Mono';
  src: url('fonts/ApercuPro-Mono.woff2') format('woff2'),
      url('fonts/ApercuPro-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('fonts/ApercuPro-Regular.woff2') format('woff2'),
      url('fonts/ApercuPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('fonts/ApercuMonoPro-Light.woff2') format('woff2'),
      url('fonts/ApercuMonoPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('fonts/ApercuMonoPro-Bold.woff2') format('woff2'),
      url('fonts/ApercuMonoPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('fonts/ApercuMonoPro-Medium.woff2') format('woff2'),
      url('fonts/ApercuMonoPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('fonts/ApercuMonoPro-Regular.woff2') format('woff2'),
      url('fonts/ApercuMonoPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global */

body {
  font-family: 'Apercu Mono Pro';
  font-size: 18px;
  text-align: center;
  padding: 50px 0;
  margin: 0;
  background-color: #FBFAF5;
}

/* body::before {
  display: block;
  content: '';
  background-color: rgba(0,0,0,.38);
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  will-change: opacity;
} */

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Header */

.header {
  text-align: center;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
	font-family: 'Insolent';
  font-size: 68px;
  font-weight: lighter;
  max-width: 365px;
  margin: 0 auto;
  line-height: 0.9;
}

.header-byline {
  font-size: 12px;
  text-align: right;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Menu */

.menu {
  display: inline-flex;
  padding: 0;
  margin: 45px auto 0 auto;
  border: 2px solid black;
}

.menu-item {
  display: inline-block;
  min-width: 100px;
}

.menu-item .menu-link {
  display: inline-block;
  padding: 10px;
  width: 110px;
}

.menu-item.active {
  background-color: #000000;
  color: #ffff;
}

/* Journal */

.journal {
  margin-top: 30px;
}

.journal-entry {
  text-align: left;
  font-size: 16px;
  line-height: 1.7;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px 35px;
  color: #000000;
  border-bottom: 1px solid black;
}

.journal-entry:nth-child(1) {
  padding-top: 0;
}

.journal-entry img {
  width: 100%;
}

.journal-entry a {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.journal-entry + .journal-entry {
  margin-top: 14px;
}

.journal-entry-title {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}

.journal-entry-date {
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
}


/* .journal-index {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: 100%;
  min-width: 50%;
  list-style: none;
  text-align: left;
  background-color: #FBFAF5;
  padding: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.journal-index-title {
  margin: 0;
} */

/* The Yearbooks */

.collection-menu {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-left: 0;
  margin-bottom: 5px;
  margin-right: 0;
  border: 2px solid black;
}

.collection-menu-item {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}

.collection-menu-item:not(.active):hover {
  font-weight: bold;
}

.collection-menu-item.active {
  background-color: black;
  color: #ffff;
}

.collection-intro {
  line-height: 2;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 0;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}

.collection.active {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  pointer-events: visible;
}

.game {
  position: relative;
  counter-increment: inst;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 264px;
  margin: 3.7% 3.4% 0 3.4%;
}

.game-art img {
  display: block;
  width: 100%;
  height: 352px;
  transition: all ease-in-out 300ms;
  filter: saturate(90%) contrast(85%);
  box-shadow: 0px 17px 10px -10px rgb(0 0 0 / 32%);
}

.game img:hover {
  transform: translate(0px, -10px) scale(1);
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);  
}

.game-number::before {
  display: block;
  content: counter(inst);
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}