@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Regular.woff2') format('woff2'),
      url('fonts/SFRounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Semibold.woff2') format('woff2'),
      url('fonts/SFRounded-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Heavy.woff2') format('woff2'),
      url('fonts/SFRounded-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Black.woff2') format('woff2'),
      url('fonts/SFRounded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Bold.woff2') format('woff2'),
      url('fonts/SFRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SFRounded';
  src: url('fonts/SFRounded-Medium.woff2') format('woff2'),
      url('fonts/SFRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Radon';
  src: url('fonts/MonaspaceRadon-Italic.woff2') format('woff2'),
      url('fonts/MonaspaceRadon-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

body {
  margin: 0;
  padding: 24px 34px 100px 34px;
  font-family: 'SFRounded';
  background-color: #FFFDFB;
  color: #947F80;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 932px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.header-title {
  margin: 0;
  max-width: 123px;
  color: #613324;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
  transform: rotate(-1.8deg);
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-item {
  color: #947F80;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}

.header-menu-item.active {
  color: #654949;
  font-weight: 700;
}

.header-menu-item + .header-menu-item {
  margin-left: 25px;
}

.journal-entry + .journal-entry {
  margin-top: 40px;
}

.journal-entry {
  max-width: 637px;
  padding: 48px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background-color: #FFF;
  box-shadow: 0px 0px 24px 0px #E1D8C6;
}

.journal-entry p:first-of-type {
  margin-top: 40px;
}

.journal-entry p {
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.journal-entry p a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  text-decoration-style: wavy;
  text-decoration-color: rgba(97, 51, 36, 0.5);
}

.journal-entry-date {
  padding: 0 30px;
  font-family: 'Monaspace Radon';
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: -0.03em;
}

.journal-entry-title {
  padding: 0 30px;
  margin: 22px 0 40px 0;
  color: #613324;
  font-size: 38px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.journal-entry-image {
  border-radius: 24px;
}

.journal-entry-scrap {
  display: block;
  margin: 0 auto;
}

.collection-intro {
  line-height: 2;
  font-size: 17px;
  font-weight: 600;
  max-width: 400px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.collection-menu {
  display: flex;
  justify-content: center;
  font-size: 17px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-left: -45px;
  margin-bottom: 15px;
  margin-right: auto;
}

.collection-menu-item {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}

.collection-menu-item.active {
  background-color: #613324;
  border-radius: 50px;
  color: #ffff;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 0;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}

.collection.active {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  pointer-events: visible;
}

.game {
  position: relative;
  counter-increment: inst;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 264px;
  margin: 3.7% 3.4% 0 3.4%;
}

.game-art img {
  display: block;
  width: 100%;
  height: 352px;
  transition: all ease-in-out 300ms;
  filter: saturate(90%) contrast(85%);
  box-shadow: 0px 17px 10px -10px rgb(0 0 0 / 32%);
  border-radius: 10px;
}

.game img:hover {
  transform: translate(0px, -10px) scale(1);
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);  
}

.game-number::before {
  display: block;
  content: counter(inst);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}